.container{
    width:100%;
    overflow: hidden; /* contain floated elements */
}
.parameters{
    float:left;
    width:30%;
    padding-top:10%;
    font-size:large;
}
.vis{
    float:left;
}

.display_variables {
    font-size:large;
    padding-top:10%;
}


.controls{
    padding-top:40px;
}

.slider{
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    width:25%;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.slider:disabled {
    opacity: 0.1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.myButton{
    width:80%;
    height:50px;
    font-size:120%;
}


